<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>
        body {
            /* font-family: Arial, sans-serif; */
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
        }

        .inner-border {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .outer {
            width: 100%;
            max-width: 68rem;
            /* Adjust max-width according to your preference */
            height: auto;
            position: relative;
            background-color: #13c2c240;
            background-image: url('/images/bg-certificate.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .certificate,
        .completion,
        .line1,
        .name,
        .line2,
        .course,
        .line3,
        .credentials {
            text-align: center;
            color: rgb(4, 28, 89);
        }

        .certificate {
            font-size: 5vw;
            /* Responsive font size */
            margin-top: 2vh;
            /* Responsive margin */
        }

        .completion {
            font-size: 2vw;
            /* Responsive font size */
            margin-top: 2vh;
            /* Responsive margin */
        }

        .line1,
        .line2,
        .line3 {
            font-size: 1.5vw;
            /* Responsive font size */
            margin-top: 2vh;
            /* Responsive margin */
        }

        .name,
        .course {
            font-size: 2vw;
            /* Responsive font size */
            margin-top: 2vh;
            /* Responsive margin */
        }

        .credentials {
            display: flex;
            justify-content: space-around;
            margin-top: 5vh;
            /* Responsive margin */
        }

        .sign1,
        .sign2 {
            margin-top: 2vh;
            /* Responsive margin */
        }

        img {
            width: 7vw;
            /* Responsive image width */
            height: auto;
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <div class="inner-border">
        <div class="outer">
            <div class="enrollment">Enrollment No. #<%= studentRoll %>
            </div>
            <div class="certificate">CERTIFICATE</div>
            <div class="completion">OF COMPLETION</div>
            <div class="line1">This is to certify that</div>
            <div class="name">
                <%= studentName %>
            </div>
            <div class="line2">has successfully completed the course of</div>
            <div class="course">
                <%= courseName %>
            </div>
            <div class="line3">awarded on this 10th day of March in the year 2024</div>

            <div class="credentials">
                <div class="sign1">
                    <p>Director</p>
                    <p>NGO Name</p>
                </div>
                <div class="logo">
                    <img src='/images/growthscooter_logo.jpeg' alt="">
                </div>
                <div class="sign2">
                    <p>Trainer</p>
                    <p>NGO Name</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
