<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<style>
    
  
.every{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.inner-border{
    width: 70rem;
    height: 40rem;
    background-color: #13c2c240;
    position: relative;
    left: 12rem 
}
.outer{
    width: 68rem;
    height: 37.6rem;
    /* background-color: white; */
    position: relative;
    left: 1rem;
    /* padding: 10px; */
    top: 18px;
    background-image: url('/images/bg-certificate.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.certificate{
    font-size: 68px;
    position: relative;
    top: 50px;
    color: rgb(4 28 89);

}
.completion{
    
    font-size: 28px;
    position: relative;
    top: 50px;
    color: rgb(4 28 89);
    
}
.line1{
    position: relative;
    top: 3.7rem;
    font-size: 23px;
    color: rgb(4 28 89);

}
.name{
    position: relative;
    top: 5rem;
    text-decoration: underline;
    font-size: 30px;
    color: rgb(3 29 94);
}
.line2{
    position: relative;
    top: 5.8rem;
    font-size: 25px;
    color: rgb(4 28 89);
}
.course{
    position: relative;
    top: 6.5rem;
    font-size: 30px;color: rgb(4 28 89);
}
.line3{
    position: relative;
    top: 7.7rem;
    font-size: 25px;color: rgb(4 28 89);
}
.credentials{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 11rem;
    width: 66rem;
}
.sign1{
    position: relative;
    top: 10px;
}
img{
    width: 95px;
    border-radius: 50%;
}
.enrollment{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}
</style>
</head>
<body>
    <div class="inner-border">
        <div class="outer">
            <div class="enrollment">EnrollmentNo.#<%= studentRoll %></div>
            <div class="certificate every satisfy-regular">
                CERTIFICATE
            </div>
            <div class="completion every">OF COMPLETION</div>
            <div class="line1 every">This is to certify that</div>
            <div class="name every"><%= studentName %></div>
            <div class="line2 every">has successfully completed the course of</div>
            <div class="course every"><%= courseName %></div>
            <div class="line3 every">awarded on this 10th day of March in the year 2024</div>

            <div class="credentials ">
                <div class="sign1">
                    <p>Director</p>
                    <p>NGO Name</p>
                </div>
                <div class="logo">
                    <img src='/images/growthscooter_logo.jpeg' alt="">
                </div>
                <div class="sign1">
                    <p>Trainer</p>
                    <p>NGO Name</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
